@use "variables" as v;
@use "sass:map";

@mixin mq($key) {
  $size: map.get(v.$breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

@mixin pseudo-fill {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
