@use "reset";
@use "fonts";
@use "variables" as v;
@use "mixins" as m;

:root {
  // Create color custom properties
  @each $color, $shades in v.$colors {
    @each $strength, $value in $shades {
      --clr-#{$color}-#{$strength}: #{$value};
    }
  }

  // Create border radius custom properties
  @each $size, $value in v.$border-radii {
    --border-#{$size}: #{$value};
  }

  // Create font size custom properties
  @each $size, $value in v.$font-sizes {
    --font-#{$size}: #{$value};
  }
}

.container {
  height: 100%;
  width: min(1280px, 100% - 3rem);
  padding-inline: 1.5rem;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.flow > p + p,
.flow > .form__group + .form__group {
  margin-top: 0.75em;
}

.wave {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  width: 100%;
}
