---
import { links } from "../utils/links";
import Instagram from '../assets/instagram-logo.svg'
---

<footer class="footer">
    <div class="container">
        <a href="#hero" class="footer__wordmark">Aili Desai</a>
        <ul class="footer__links">
            {links.map((link) => (
            <li class="footer__link"><a href={link.href}>{link.label}</a></li>
            ))}
        </ul>
        <a href="https://www.instagram.com/ailidesaimusic/?igsh=mtl4bwhvbme0cgsyeq%3D%3D"><Instagram class="footer__social" /></a>
    </div>
</footer>

<style lang="scss">
    @use "../styles/mixins" as m;

    .footer {
        background-color: var(--clr-dark-700);
        padding-block: 4rem;
        color: var(--clr-neutral-100);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 4rem;
        }

        &__wordmark {
            font-family: "Playfair Display";
            font-size: var(--font-500);
        }

        &__links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.5rem;

            .footer__link {
                transition: opacity 0.3s;
                
                &:hover {
                    opacity: 0.75;
                }
            }
        }
        
        &__social {
            fill: var(--clr-neutral-100);
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.75;
            }
        }
    }

    @include m.mq(small) {
        .footer {
            .container {
                flex-direction: row;
                align-items: center;
            }

            &__links {
                align-items: center;
                gap: 1rem;
            }
        }
    }
</style>
