---
import Instagram from '../assets/instagram-logo.svg'
import { links } from '../utils/links';
---

<button class="mobile" aria-expanded="false" aria-label="Open mobile navigation menu">
    <span class="mobile__line"></span>
    <span class="mobile__line"></span>
    <span class="mobile__line"></span>
</button>
<div class="mobile-menu">
    <ul class="mobile__links">
        {links.map((link) => (
        <li class="mobile__link"><a href={link.href}>{link.label}</a></li>
        ))}
    </ul>
    <div class="mobile__social">
        <a href="https://www.instagram.com/ailidesaimusic/?igsh=mtl4bwhvbme0cgsyeq%3D%3D" target="_blank" aria-label="Aili Desai Instagram"><Instagram /></a>
    </div>
</div>

<style lang="scss">
    @use "../styles/mixins" as m;
    @use 'sass:color';
    $border-color: color.adjust(#e9e3d9, $lightness: -20%);

    .mobile {
        display: flex;
        flex-direction: column;
        width: 2rem;
        gap: .4rem;
        cursor: pointer;
        position: relative;

        &__line {
            height: 2px;
            width: 80%;
            background-color: var(--clr-dark-700);
            display: inline-block;
            transition: width 0.3s;
            border-radius: var(--border-lg);
        }
        &__line:nth-child(2) {
            width: 100%;
        }

        &:hover {
            .mobile__line {
                width: 100%;
            }
        }

        &-menu {
            position: absolute;
            width: 100%;
            height: 0;
            background-color: var(--clr-neutral-200);
            top: 3.75rem;
            left: 0;
            border-radius: 0 0 var(--border-md) var(--border-md);
            border-top: 1px solid $border-color;
            overflow: hidden;
            opacity: 0;
            padding: 0 2rem;
            transition: height 0.3s, opacity 0s 0.3s, padding 0.3s;

            .mobile__links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;

                .mobile__link {
                    width: 100%;
                    font-size: var(--font-400);
                    opacity: 0;
                    transition: opacity 0.3s;
                }
            }

            .mobile__social {
                margin-top: 3rem;
            }


            &--active {
                opacity: 1;
                height: 15rem;
                padding: 1rem 2rem;

                transition: height 0.3s, opacity 0s 0s, padding 0.3s;

                .mobile__links {
                    .mobile__link {
                        opacity: 1;
                        transition: opacity 0.3s 0.1s;
                    }
                }
            }
        }
    }

    @include m.mq(medium) {
        .mobile {
            display: none;

            &-menu {
                display: none;
            }
        }
    }
</style>
