---
import Instagram from '../assets/instagram-logo.svg'
import { links } from '../utils/links';
---

<div class="mobile-menu">
    <ul class="mobile__links">
        {links.map((link) => (
        <a href={link.href} class="mobile__link"><li>{link.label}</li></a>
        ))}
    </ul>
    <div class="mobile__social">
        <a href="https://www.instagram.com/ailidesaimusic/?igsh=mtl4bwhvbme0cgsyeq%3D%3D" target="_blank" aria-label="Aili Desai Instagram"><Instagram /></a>
    </div>
</div>

<style lang="scss">
    @use "../styles/mixins" as m;
    @use 'sass:color';
    $border-color: color.adjust(#e9e3d9, $lightness: -20%);

    .mobile {
        &-menu {
            width: 100%;
            max-height: 0;
            visibility: hidden;
            overflow: hidden;
            margin-top: 0;
            transition: margin 0.3s, max-height 0.5s, padding 0.3s;
            position: relative;
            padding-top: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $border-color;

                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.3s 0.2s ease;
            }

            .mobile__links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;

                .mobile__link {
                    width: 100%;
                    font-size: var(--font-400);
                }
            }

            .mobile__social {
                margin-top: 3rem;
            }


            &--active {
                max-height: 300px;
                visibility: visible;
                margin-top: 1rem;
                padding-top: 1rem;

                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    @include m.mq(medium) {
        .mobile-menu {
            display: none;
        }
    }
</style>

<script>
    const links = document.querySelectorAll(".mobile__link") as NodeListOf<HTMLLIElement>;
    const mobileMenu = document.querySelector(".mobile-menu") as HTMLDivElement;

    links.forEach((link) => {
        link.addEventListener("click", () => {
            mobileMenu.classList.remove("mobile-menu--active");
        })
    })
</script>
